<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Si le fichier ou le répertoire n'existe pas, redirigez vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
AddType image/avif .avif
php_value upload_max_filesize 10M
php_value post_max_size 10M