
/**VARIABLE COLOR**/

$color-font-primary: #FFE888;

$color-font-secondary: #BABCBF;

$color-font-third:#f1f0f2;

$color-back-primary: #182828;

$color-back-secondary: #254040;

$color-back-third: #5a7064;

$color-back-primary-alpha: #254040bf;
$color-back-third-alpha : #5a7064a2;

/** VARIABLE FONT **/
$font-dimsum: 'Dimsum Week';
$font-monserrat: 'Montserrat', sans-serif;


/** VARIABLE SIZE **/
$font-size-xxs: 0.6rem;
$font-size-xs: 0.9rem;
$font-size-small: 1rem; //16px
$font-size-medium: 1.2rem; //20px
$font-size-regular: 1.5rem; //40px
$font-size-large: 2rem;
$font-size-xlarge: 2.75rem; //55px
$font-size-xxlarge: 5rem; //80px

